<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>ADMIN PAGE</title>
    <!-- CSS files -->
    <link href="./dist/css/tabler.min.css?1692870487" rel="stylesheet"/>
    <link href="./styles/admin-page.css" rel="stylesheet"/>
</head>
<body>
<script src="./dist/js/demo-theme.min.js?1692870487"></script>
<div th:replace="fragments/header :: header"></div>
<div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">ADMIN PAGE</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- 세로 메뉴와 콘텐츠 -->
    <div class="container-fluid d-flex gap-4 p-4">
        <div class="bg-light border rounded p-3" style="width: 250px;">
            <h4 class="text-center">메뉴</h4>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/members">회원 관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/books/add">도서 등록</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/books/edit">도서 수정</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/reviews">리뷰 관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/coupons">쿠폰 발행</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/points">포인트 관리</a>
                </li>
            </ul>
        </div>
        <div class="flex-grow-1">
            <div class="page-body">
                <div class="container-xl">
                    <div class="row row-deck row-cards">
                        <div class="col-md-12 col-lg-8">
                            <div class="card">
                                <div class="card-body">
                                    <h3 class="card-title">카테고리별 판매된 도서 수</h3>
                                    <div id="chart-mentions" class="chart-lg"></div>
                                </div>
                            </div>
                        </div>

                        <!-- Libs JS -->
                        <div class="col-md-12 col-lg-8">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Most Visited Books</h3>
                                </div>
                                <div class="card-table table-responsive">
                                    <table class="table admin-page-table">
                                        <thead>
                                        <tr>
                                            <th>BOOK NAME</th>
                                            <th>AUTHOR</th>
                                            <th>LIKES</th>
                                            <th>BOOK VIEW</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>/</td>
                                            <td class="text-secondary">4,896</td>
                                            <td class="text-secondary">3,654</td>
                                            <td class="text-secondary">82.54%</td>
                                        </tr>
                                        <tr>
                                            <td>/form-elements.html</td>
                                            <td class="text-secondary">3,652</td>
                                            <td class="text-secondary">3,215</td>
                                            <td class="text-secondary">76.29%</td>
                                        </tr>
                                        <tr>
                                            <td>/index.html</td>
                                            <td class="text-secondary">3,256</td>
                                            <td class="text-secondary">2,865</td>
                                            <td class="text-secondary">72.65%</td>
                                        </tr>
                                        <tr>
                                            <td>/icons.html</td>
                                            <td class="text-secondary">986</td>
                                            <td class="text-secondary">865</td>
                                            <td class="text-secondary">44.89%</td>
                                        </tr>
                                        <tr>
                                            <td>/docs/</td>
                                            <td class="text-secondary">912</td>
                                            <td class="text-secondary">822</td>
                                            <td class="text-secondary">41.12%</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-8">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <h3 class="card-title">배송 상태 관리</h3>
                                </div>

                                <div class="table-responsive">
                                    <table class="table card-table admin-page-table" id="shipping-status-table">
                                        <tbody>
                                        <tr data-completed="true">
                                            <td class="w-1 pe-4">
                                                <input type="checkbox" class="form-check-input m-0 align-middle admin-page-task-checkbox" checked>
                                            </td>
                                            <td class="w-100 ps-4">
                                                <a href="#" class="text-reset admin-page-task-link">Extend the data model.</a>
                                            </td>
                                            <td class="text-nowrap text-secondary ps-4">August 04, 2021</td>
                                        </tr>
                                        <tr data-completed="false">
                                            <td class="w-1 pe-4">
                                                <input type="checkbox" class="form-check-input m-0 align-middle admin-page-task-checkbox">
                                            </td>
                                            <td class="w-100 ps-4">
                                                <a href="#" class="text-reset admin-page-task-link">Verify the event flow.</a>
                                            </td>
                                            <td class="text-nowrap text-secondary ps-4">January 03, 2019</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Libs JS -->
    <script src="./dist/js/apexcharts.min.js?1692870487" defer></script>
    <script src="./dist/js/jsvectormap.min.js?1692870487" defer></script>
    <script src="./dist/js/world.js?1692870487" defer></script>
    <script src="./dist/js/world-merc.js?1692870487" defer></script>
    <!-- Tabler Core -->
    <script src="./dist/js/tabler.min.js?1692870487" defer></script>
    <script src="./dist/js/demo.min.js?1692870487" defer></script>
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>
