<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>포인트 정책 관리</title>
  <link href="/css/dist/tabler.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container">
  <div th:replace="~{fragments/header :: header}"></div>

  <div class="container mt-4">
    <h1>포인트 정책 관리</h1>
    <a class="btn btn-primary mb-3" th:href="@{/admin/point/create}">정책 생성</a>

    <table class="table">
      <thead>
      <tr>
        <th>정책 이름</th>
        <th>포인트 증감</th>
        <th>수정</th>
        <th>삭제</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="policy : ${policies}">
        <td th:text="${policy.pointPolicyName}"></td>
        <td th:text="${policy.pointDelta}"></td>
        <td>
          <a class="btn btn-warning btn-sm" th:href="@{'/admin/point/edit/' + ${policy.pointPolicyName}}">수정</a>
        </td>
        <td>
          <form th:action="@{'/admin/point/delete/' + ${policy.pointPolicyName}}" method="post">
            <button class="btn btn-danger btn-sm" type="submit">삭제</button>
          </form>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div th:replace="~{fragments/footer :: footer}"></div>
</div>
</body>
</html>
