<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>ADMIN PAGE</title>
    <!-- CSS files -->
    <!-- 필수 -->
    <link href="/css/dist/tabler.min.css?1692870487" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/admin.css">

</head>
<body>
<div class="container">
    <!-- 헤더 포함 -->
    <div th:replace="~{fragments/header :: header}" class="col-3"></div>

    <div class="container">
        <h1>이벤트 페이지</h1>
        <div>겨울 쿠폰 받아가세요</div>
        <form method="post" action="/coupon-get">
            <button type="submit" id="couponButton">쿠폰 발급받기</button>
        </form>
        <div id="couponMessage" th:text="${couponMessage}" style="margin-top: 10px; color: green;"></div>
    </div>


</div>
</body>
</html>