/* 공통 스타일 */
html, body {
    margin: 0;
    padding: 0;
    background-color: #EFEDF6;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-fluid {
    display: flex;
    gap: 4rem;
    padding: 1rem;
    align-items: flex-start;
}

.bg-light {
    background-color: #f8f9fa !important;
    height: 100%;
}

.bg-light ul {
    padding-left: 0;
}

.bg-light .nav-link {
    color: #333;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.bg-light .nav-link:hover {
    background-color: #9E8DBF;
    color: #fff;
}

.col {
    flex-grow: 1;
}

.table-container {
    margin-top: 20px;
}

.table th, .table td {
    text-align: center;
}

/* Admin-specific 스타일 */
.admin-page-vertical-menu {
    width: 250px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    margin: 20px;
}

.admin-page-menu-item {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.admin-page-menu-item:hover {
    background-color: #9E8DBF;
    color: #fff;
    border-radius: 3px;
}
